.jbd_logo {
    justify-content: center;
    display: inline-block;
    max-width: 1204px;
    height: auto;
    margin: 32px;
    white-space: nowrap;
}

.jbd_logo_jb {
    position: relative;
    left: 21px;
    width: 75%;
    height: auto;
}

.jbd_logo_d {
    position: relative;
    left: -22px;
    top: -32px;
    z-index: 10;
    width: 25%;
    height: auto;
}